<h1><%= @article.title %></h1>
<%= @article.content %>

<form action="/article/<%= @article.id%>" method="POST">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
</form>

<button>
    <a href="/articles"/>
    See articles
</button>